body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #E5F3F2
  /*height: 150px;*/
}

header h1, span {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 50px;
}

header h1 {
  color: #00A79D
}

header span {
  color: #6D6E71
}

#save-button{
  text-align: center;
  background-color:#045E55;
  height: 20px;
  width: 100px;
}

#save-button:hover{
  background-color:#045E55;
}
