header {
  background-color: #E5F3F2;
}

header h1, span {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

span {
  margin: 30px 0;
  display: inline-block;
  color: #6D6E71
}

.idea-text {
  color: #00A79D;
  margin: bottom: 20px;
}

header input {
  height: 20px;
  width: 400px;
  position: absolute;
}

.idea-form {
  background-color: #E5F3F2;
  position: relative;
  height: 155px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 25px;
}

::-webkit-input-placeholder {
  font-size: 14px;
}

#title-input, #body-input, #search-bar {
  width: 400px;
  display: block;
  margin: auto;
}

#body-input {
  top: 45px;
  width: 400px;
  height: 20px;
}

#save-button{
  position: relative;
  top: 95px;
  border: none;
  width: 406px;
  text-align: center;
  background-color:#00A79D;
  height: 30px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
}

#save-button:hover{
  background-color:#045E55;
}

#search-bar {
  height: 20px;
  margin-bottom: 20px;
}

/*________________________________*/

.idea-list section {
   margin: auto;
   list-style: none;
   width: 400px;
   padding: 20px 0;
   border-bottom: 2px solid #D1D3D4;
 }

.idea-title {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  font-size: 18px;
  line-height: 1.25;
  display: inline-block;
  max-width: 250px;
  word-wrap: break-word;
}

.remove-idea {
  background: url('../images/svg-images/delete.svg') no-repeat;
  display: inline-block;
  margin: 0;
  float: right;
}

.remove-idea:hover {
  background: url('../images/svg-images/delete-hover.svg')
}

.body-input {
  font-family: 'Open Sans', sans-serif;
  color: #939598;
  font-size: 14px;
  margin: 10px auto;
  word-wrap: break-word;
  line-height: 1.5;
}

.remove-idea, .upvote, .downvote {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  border: none;
  cursor: pointer;
}

.vote {
  width: auto;
  display: inline-flex;
}

.upvote {
  background: url('../images/svg-images/upvote.svg') no-repeat;
  margin-right: 12px;
}

.upvote:hover {
  background: url('../images/svg-images/upvote-hover.svg')
}

.downvote {
  background: url('../images/svg-images/downvote.svg') no-repeat;
  margin-right: 12px;
}

.downvote:hover {
  background: url('../images/svg-images/downvote-hover.svg')
}

.quality-control {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  font-size: 12px;
  padding-top: 2px;
}

@media (max-width: 440px) {
  header h1, span {
    font-size: 30px;
  }

  span {
    margin: 20px 0;
  }

  header input {
    width: 300px;
  }

  .idea-form {
    height: 195px;
  }

  ::-webkit-input-placeholder {
    font-size: 16px;
    padding: 0;
  }

  #title-input, #body-input, #search-bar {
    width: 300px;
    display: block;
    margin: auto;
  }

  #body-input {
    height: 60px;
  }

  #save-button{
    width: 306px;
    font-size: 16px;
    top: 135px;
  }

  /*________________________*/
  .idea-list section {
    width: 300px;
  }

  .idea-title {
    font-size: 20px;
    max-width: 150px;
  }

  .remove-idea {
    background: url('../images/svg-images/delete.svg') no-repeat;
    display: inline-block;
    margin: 0px 10px;
    float: right;
  }

  .body-input {
    font-size: 16px;
  }

  .remove-idea, .upvote, .downvote {
    height: 22px;
    width: 22px;
  }

  .quality-control {
    font-size: 14px;
    padding-top: 4px;
  }

  .quality-choice {
    font-family: 'Open Sans', sans-serif;
  }
}
