.idea-title {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
}

.body-input {
  font-family: 'Open Sans', sans-serif;
  color: #939598;
}

.quality-control {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
}

header {
  background-color: #E5F3F2
  height: 150px;
}

header h1, span {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  /*margin-top: 10px;*/
}

header h1 {
  color: #00A79D

}

header span {
  color: #6D6E71
}

form {
  position: relative;
  background-color: #E5F3F2;
  height: 170px;
}

#save-button{
  position: absolute;
  right: 50%;
  margin-right: -150px;
  top: 160px;
  text-align: center;
  background-color:#00A79D;
  height: 30px;
  width: 300px;
  color: #FFFFFF;
  cursor: pointer;
}

#save-button:hover{
  background-color:#045E55;
}


header input {
  height: 30px;
  width: 300px;
  position: absolute;
}

#title-input {
  right: 50%;
  margin-right: -150px;
  top: 55px;
}

#body-input {
  right: 50%;
  margin-right: -150px;
  top: 105px;
}

.upvote {
  background: url('../images/svg-images/upvote.svg') no-repeat;
  height: 35px;
  width: 35px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.downvote {
  background: url('../images/svg-images/downvote.svg') no-repeat;
  height: 35px;
  width: 35px;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.delete-idea {
  background: url('../images/svg-images/delete.svg') no-repeat;
  height: 35px;
  width: 35px;
  border: none;
  display: inline-block;
  cursor: pointer;
}

 li {
   list-style: none;
   border-bottom: 2px solid #D1D3D4
 }
